<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="ie.tcd.cs7cs3.under">
  <!--Wifi P2p Permission-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <!-- end Wifi P2p Permission-->
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

    <activity android:name="ie.tcd.cs7cs3.under.UnderMainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- Storage -->
    <activity
      android:name="ie.tcd.cs7cs3.storage.ListUsersActivity"
      android:label="@string/title_activity_list_users"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="ie.tcd.cs7cs3.storage.AddUserActivity"
      android:label="AddUsersActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="ie.tcd.cs7cs3.storage.ListUsersActivity"
      />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- GroupManager -->
    <activity
      android:name="ie.tcd.cs7cs3.under.GroupManager.MainActivity"
      android:label="AddUsersActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- WifiP2P -->
    <activity android:name="ie.tcd.cs7cs3.wifiP2P.WifiMainActivity"
      android:parentActivityName=".UnderMainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="ie.tcd.cs7cs3.wifiP2P.WifiMainActivity" />
    </activity>

    <!-- LocationManager -->
    <activity android:name=".locationmanager.test"/>
    <activity android:name=".locationmanager.Navigation" />
<!--    <activity android:name=".locationmanager.LocationManagerMainActivity">-->
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->
<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--      </intent-filter>-->
<!--    </activity>-->
  </application>
</manifest>